// CONTACTS
.my-photo {
  @media screen and (min-width: $tablet) {
    border-radius: 5px;
    overflow: hidden;
  }
}

.contacts-container {
  margin-top: 40px;

  @media screen and (min-width: $tablet) {
    padding: 0 20px;
  }

  .my-profession-mobile {
    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  .my-name-mobile {
    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  .contacts-link {
    color: $secondary-sidebar-text-color;
  }
}
// end CONTACTS
