/* --- MAINE --- */
body {
  padding: 20px 15px;

  // font: normal 14px Montserrat, sans-serif;
  font: normal 14px 'Roboto', sans-serif;
  line-height: 1.7;
  letter-spacing: 0.42px;

  color: $primary-text-color;
  background: $body-bg-color;

  @media screen and (min-width: $tablet) {
    padding-top: 40px;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.1;
}

h1 {
  @include adaptiv-font(24, 45);
  line-height: 1.2;
  margin-bottom: 24px;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  @include adaptiv-font(18, 22);
  margin-bottom: 15px;
}

h4 {
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 auto;
  background: $primary-bg-color;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    display: flex;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    border-radius: 0;
  }

  & .sidebar {
    background: $sidebar-bg-color;
    color: $sidebar-text-color;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;

    @media screen and (min-width: $tablet) {
      width: 375px;
      padding: 30px 0;
    }
  }
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// social links
.social-links .link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  fill: $secondary-sidebar-text-color;
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: $accent-text-color;
  border-radius: 50%;
}

.link:hover,
.link:focus {
  color: $accent-text-color;
}

.social-links {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.contacts-container {
  text-align: center;
}

.accent-text {
  color: $accent-text-color;
}
// end social links
/* --- end MAIN --- */
