// SKILLS
.skills-container {
  margin-top: 30px;

  .skills-item {
    @media screen and (min-width: $desktop) {
      color: $accent-text-color;
    }
  }
  .skills-text {
    color: $secondary-sidebar-text-color;
  }

  .skills-list {
    @media screen and (min-width: $desktop) {
      text-align: start;
      margin-left: 40px;
      list-style: inside;
    }
  }
}
// end SKILLS
